<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="volver" [defaultHref]="'/task-list'"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalles de Tarea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="selectedTask">
    <ion-card-header>
      <ion-card-title>Nombre de la Tarea:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text>{{ selectedTask.name }}</ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
